<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <form method = 'post', action = '/hellolanguage'>
            <input type = 'text' name = 'coder' />
            <select name = 'language'>
                <option value = 'HELLO'>English</option>
                <option value = 'BONJOUR'>French</option>
                <option value = 'HOLA'>Spanish</option>
                <option value = 'CIAO'>Italian</option>
                <option value = 'OLÀ'>Portuguese</option>
                <input type = 'submit' value = 'Greet Me!'/>
            </select>
        </form>
    </body>
</html>